body {
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
    border-radius: 10px;
    margin-bottom: 30px;
    background: rgb(11, 50, 129)
}

.container,.resp {
    max-width: 800px;
    margin: 50px auto; 
    padding: 20px; 
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}

header, footer {
    text-align: center; 
}

h1, h2, h3 {
    margin: 10px 0; 
}

p {
    line-height: 1.6;
}


h2 {
    color: red;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}
section

.job, .school {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

footer {
    background-color: transparent; 
    text-align: center;
    margin-top: 30px;
    font-size: 0.8em;
    color: red;
    padding: 10px 0;
}
.resp {
    display: block;
}
@media only screen and (max-width: 600px) {
    .resp {
       display: none;
    }
} 





    
